.Header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.header__showTime {
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}