.Home {
    height:100vh;
    display: flex;
    flex-direction: column;
    color:antiquewhite;
    background-color:cadetblue;
    overflow:none;
}

.Home__Pannel {
    height: 70vh;
    display: flex;
    /* width: 60vh; */
    float: left; 
    /* overflow: none; */
    /* color: red;
    text-align:right; */
}