.MiddleBodyContent {
    /* flex:1; */
    overflow-y: auto;
    height:70%;
    display:block;
}

.MiddleBodyContent__left {
    text-align:left;
    
    display:inline-block;
}

.MiddleBodyContent__right {
    text-align:right;
    
    display:inline-block;
}