.MiddleBodyContent {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
    height:70vh;
    /* display:block; */
}

.MiddleBodyContent__left {
    text-align:left;
    flex:'1';
    /* display:flex; */
}

.MiddleBodyContent__right {
    text-align:right;
    flex:'1';
    /* display:flex; */
}