.ShowResults {
    /* flex:'1';
    height:70vh;
    display:flex; */
    width:120vh;
    margin-left:40vh;
}

.ResultsHeader {
    font-size:calc(16px + 2vmin);
    text-align: center;
    
}

.ResultNumber {
    color: red;
}

.ResultsTable {
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    width: 125vh;
    /* width: 100%; */
    /* border:1px solid black; */
    
}

.ResultsBody {
    display: table-row-group;
}

.ResultsRow {
    display: table-row;
}

.ResultsCell {
    display: table-cell;
    padding: 2px 10px;
    text-align: left;
    /* white-space: nowrap; */
    /* vertical-align: middle; */
    /* word-wrap: break-word; */
}

.Extend {
    width: 100%;
    font-style:oblique;
    border-collapse:collapse;
}

.Capital {
    text-transform: capitalize;
}

.AlignLeft {
    text-align:left;
}

.Shrink {
    display: flex;
    flex-direction:column;
}

.Shrink > * {
    flex-shrink: 0;
}

.Flex-grow {
    flex-grow:1;
}

.BreakWord-Wrap {
    word-wrap:break-word
}

.DivLine {
    flex: 1; 
    height: 1px; background-color: black;
}

.DivBorder {
    border:1px solid red;
    border-radius: 25px;
}