.ShowResults {
    /* flex:'1';
    height:70vh;
    display:flex; */
    width:60vh;
}

.ResultsHeader {
    font-size:calc(16px + 2vmin);
    text-align: center;
    
}

.ResultNumber {
    color: red;
}

.ResultsTable {
    display: table;
    width: 100%;
}

.ResultsBody {
    display: table-row-group;
}

.ResultsRow {
    display: table-row;
}

.ResultsCell {
    display: table-cell;
    padding: 3px 10px;
}

.Motivation {
    width:100%
}