.SideControlBar {
    /* height: 70vh;
    flex:'1';
    display:flex; */
    width:60vh;
    text-align: left;
    height: 70vh;
    border-radius: 12px 12px;
    /* border-color: black; */
    border:1px solid black;
}